        /* Mettre la page à 0 de marge et 0 de padding par defaut/ Inclu aussi les éléments Befort et After */

*, ::before, ::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
        /* Skill pour mettre la police par defaut sur 10px au lieux de 16px */
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.bloc_page{
    max-width: 149rem;
        /* ***************************** Le site ne peut pas faire plus de 1490PX de largeur *****************************  */
    margin: 5rem;
}
.image_reservia{
    display: inline-block;
    width: 60%;
    height: auto;
    cursor: pointer;
}
        /* ***************************** Début NAV + Image Reservia ***************************** */
nav{
    width: 100%;
    height: auto;
    margin: 1rem 0rem;
}
.list-nav{
    display: block;
    float: right;
}
.items{
    display: inline-block;
    margin-top: 0.3rem;
    padding: 1rem;
    cursor: pointer;
}
.list-nav{
    display: flex;
    list-style: none;
}
.list-nav li{
    padding: 1rem;
}
.list-nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.list-nav a:hover{
    border-top: #0065FC solid;
    padding-top: 2rem;
}
.items3 a{
    color: #0065FC;
}
.items3 a:hover{
    border-top: none;
    text-shadow: #0065FC 0px 0px 2px;
}
/* ***************************** Début Réservia ***************************** */
.reservia{
display: flex;
flex-direction: column;
width: 95%;
height: auto;
margin: 3rem 0rem;
/* border: steelblue solid 1px; */
}
        /* ***************************** Début Search2 Form logoLocation + img ***************************** */
.search2{
    display: flex;
    width: 37rem;
    border-radius: 1rem;
    margin: 1.5rem 0rem;
}
         /* ***************************** Début section logoLocation ***************************** */
.logoLocation{
    width: 3.7rem;
    height: 4.3rem;
    border-radius: 1rem 0rem 0rem 1rem;
    overflow: hidden;
    background-color: rgb(192, 191, 191);
}
.logoLocation i{
    font-size: 2rem;
    position: relative;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
}
        /* ***************************** Début searchButton ***************************** */
.searchButton{
    border-radius: 0rem 1rem 1rem 0rem;
    width: 11rem;
}
.logoSearch{
    display: none;
    width: 5rem;
    border-radius: 1rem;
    position: relative;
    right: 1rem;
    background-color: #0065FC;
}
.logoSearch i{
    font-size: 2rem;
    position: relative;
    top: 1rem;
    left: 1.3rem;
    color: white;
}
        /* ***************************** Début inputSearchVille ***************************** */
.btnSearchVille{
    width: 10rem;
    text-align: center;
    border-radius: 0rem 1rem 1rem 0rem;
    background-color: #0065FC;
    color: white;
}
input{
    height: 4.3rem;
    width: 26rem;
    font-weight: 700;
    color: red;
    font-size: 1.5rem;
    border: #F2F2F2 1px solid;
}
        /* ***************************** Début Filtres ***************************** */
.filtres{
    display: flex;
    width: 95%;
    margin: 3rem 0rem;
       /* border: steelblue solid 1px; */
}
.filtres h2{
    margin: 0rem 2rem 0rem 1rem;
    line-height: 5rem ;
    align-content: center;
    font-weight: 800;
    font-size: 2rem;
}
.itemsFiltres{
    width: auto;
    border: rgb(192, 191, 191) 2px solid;
    height: auto;
    border-radius: 5rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    font-weight: 700;
}
.itemsFiltresImages{
    float: left;
    position: relative;
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    padding: 1.5rem;
    background-color: #dfeafa;
}
.itemsFiltresImages i{
    color: #0065FC;
}
        /* ***************************** Alignement du txt ***************************** */
.itemsFiltres a{
    position: relative;
    text-decoration: none;
    color: black;
    top: 0.9rem;
    padding: 1.5rem;
}
.itemsFiltres:hover{
    border: #0065FC solid;
    background-color: #bad4f8;
}
        /* ***************************** Début Info ***************************** */
.info{
    width: 95%;
    height: auto;
    font-size: 1.5rem;
    margin: 3rem 0rem;
}
.info img{
    float: left;
}
.info p{
    margin-left: 4rem;
    position: relative;
    top: 0.9rem;
}
        /* ***************************** Début Séction Hébergement + Populaires ***************************** */
section{
    display: flex;
    border-radius: 2rem;
    width: auto;
    margin: 3rem 0rem;
    height: auto;
    /* border: blue solid 1px; */
}
        /* ***************************** Container Hebergement Marseille ***************************** */
.liste_hebergement{
    width: 70%;
    height: auto;
    margin: 0rem 2rem 0rem 0rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;  
    border-radius: 2rem; 
    /* border: blue solid 1px; */
}
.liste_hebergement h2:nth-child(1){
    padding: 2rem;
    font-weight: 800;
    font-size: 2rem;
}
        /* ***************************** Bloc Hébergement ***************************** */
.div_hebergement{
    display: flex;
    flex-wrap: wrap;
}
section span {
    margin-left: 3.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
        /* ***************************** Itemes Hébergement: Gestion taille des items/blocs contenant les images *****************************  */
.hebergement{
    width: 29%;
    height: 23.5rem;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.75);
    background-color: white;
}
.hebergement a{
    text-decoration: none;
    color: black;
}
/* ***************************** Image Hebergement: Gestion du remplissage de l'image Hébergement+ P, H2 et ETOILES ***************************** */
.hebergement img{
    width: 100%;
    height: 15rem;
    padding: 0.6rem;      
    border-radius: 2rem 2rem 0rem 0rem;  
    object-fit: cover;
}
.hebergement p{
    font-size: 1.7rem;
    margin-left: 0.6rem;
    padding: 0rem 0rem 0rem 1.5rem;
}
.hebergement h2{
    margin-left: 0.6rem;
    padding: 0rem 0rem 0rem 1.5rem;  
    font-size: 1.6rem;
}
.etoiles{
    padding: 0rem 0rem 0rem 2rem;
    color: #0065FC;
}
.etoiles .fas_1, .fas_2, .fas_3, .fas_4, .fas_5{
    color: grey;
}
        /* ***************************** Début les plus Populaire Bloc Populaire ***************************** */
.populaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    width: 28%;
    border-radius: 2rem;
    margin: 0rem 0rem 0rem 1rem;
}

        /* ***************************** Titre Populaire ***************************** */
.titre_populaire {
    display: flex;
    width: 94%;
    justify-content: space-between;
}
.titre_populaire i{
    font-size: 2rem;
    position: relative;
    top: 2rem;
}
        /* *****************************Container populaire ***************************** */
.div_populaires{
    display: flex;
    flex-wrap: wrap;
}
.div_populaires a{
    text-decoration: none;
    color: black;
    width: 100%;
}
        /* Style h2 populaire */
.populaires h2:nth-child(1){
    padding: 2rem 0rem 2rem 2rem;
    font-weight: 800;
    font-size: 2rem;
}
.div_populaires h3{
    padding: 1rem 0rem 0rem 50%;    
    font-size: 1.7rem;
    font-weight: 800;
}
.div_populaires p{
    padding: 0rem 0rem 0rem 50%;
}

        /* ***************************** Itemes Populaire:Gestion des tailles box color ***************************** */
.items_populaires{
    font-size: 1.3rem;
    overflow: hidden;
    border-radius: 2rem;
    background-color: white;
    width: 80%;
    margin: 3rem auto ;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.75);        
    /* border: 1px red solid; */
}
.img_populaire{
    width: 45%;
    padding: 0.3rem;
    height: 13rem;
    float: left;
}
        /* ***************************** Gestion img populaire ***************************** */
.img_populaire img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Permet de rogner l'image parfaitement peut importe son oriantation */
    border-radius: 2rem 0rem 0rem 2rem;
}
.etoiles_populaires{
    padding: 0rem 0rem 0rem 50%;
    color: #0065FC;
}
        /* ***************************** Début Grand container Activité ***************************** */
.galerie_activite{
    max-width: 100%;
    height: auto;
    flex-direction: column;
    margin: 3rem 0rem;
    /* border: khaki 1px solid; */
}
.galerie_activite h2{
    padding: 2rem 0rem 2rem 4.5rem;
    font-size: 2rem;
    font-weight: 800;
}
        /* ***************************** Début Liste Activité ***************************** */
.list_activité{
    width: auto;
    height: 54rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: red 1px solid; */
}
/* ***************************** Bloc image activité: Gestion taille du bloc ***************************** */
.item_activite{
    width: 22.8%;
    margin: 1rem;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 2rem 2rem 2rem 2rem;
    flex-shrink: 0;
    /* border: red 1px solid; */
    
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.75);        
}
.item_activite a{
    text-decoration: none;
    color: black;
    margin: 0rem;
}
.item_activite p{
    padding: 1rem;
    font-weight: 800;
    font-size: 1.5rem;
}
        /* ***************************** Gestion img activité ***************************** */
.item_activite img{
    width: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 0rem 0rem; 
}   
        /* ***************************** Gestion Block 1 */
.img1{
    height: 96%;
}
        /* ***************************** Gestion img 1 */
.img1 img{
    height: 92%;
}
        /* ***************************** Gestion  Bloc 2 */
.img2{
    height: 57.5%;   
}
        /* *****************************  Gestion  img 2 */
.img2 img{
    height: 84%;
}
        /* ***************************** Gestion  Bloc 3 */
.img3{
    height: 35%;
}
        /* ***************************** Gestion Taille Bloc 3 */
.img3 img{
    height: 78%;
}
        /* *****************************  Gestion  Taille 3 */
.img4{
    height: 96%;
}
        /* ***************************** Gestion  img4 */
.img4 img{
    height: 92%;
}
        /* ***************************** Gestion Bloc 5 */
.img5{
    height: 35%;
}
        /* ***************************** Gestion img5 */
.img5 img{
    height: 78%;
}
        /* ***************************** Gestion Bloc 6 */
.img6{
    height: 57.5%;
}    
          /* ***************************** Gestion img6 */
.img6 img{
    height: 86%;
}
        /* ***************************** Début Footer *****************************  */
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-bottom: 1%;
    background-color: #F2F2F2;
}
.widthFooter{
    width: 97%;
    height: auto;
    display: inherit;
    justify-content: inherit;
    margin: 0rem auto;
}
footer h2{
    padding: 2rem;
}
footer p{
    padding-top:1rem;
    padding-left: 2rem;
}
        /* ***************************** Début MEDIAQUERIS ***************************** */
        
@media screen and (max-width: 448px)
    { 
    .bloc_page{
        margin: 0rem;
    } 
    header img{
        padding-left: 1rem;
    }  
    nav{
        height: 10rem;
        display: flex;
        flex-direction: column;
    }   
    nav li{
        width: 50%;
        text-align: center;
        border-bottom: #F2F2F2 2px solid;
    }
    .list-nav li:hover{
        border-bottom: solid #0065FC 2px ;
    }
    .list-nav a:hover{
        border-top: none;
    }
    .list-nav li:nth-child(3){

        border-bottom: none;
    }
    .items3{
        position: absolute;
        top: 2rem;
        right: 0.5rem;
        border: none;
    }
    .reservia{
        width: 100%;
        margin: 0rem;
    }
    .reservia h1 {
        padding: 2rem 2rem 0rem 1.5rem;
        font-weight: 700;
        font-size: 2.7rem;
    }  
    .reservia p{
        padding: 0.5rem 2rem 0rem 1.5rem;
        font-size: 1.5rem;
    }
    .search2{
        width: 85%;
        margin: 3rem 0rem 0rem 2rem;
    }
    .searchButton{
        border-radius: 1rem;
        width: 5rem;
        position: relative;
        right: 1rem;
    }
    .searchButton{
        display: none;
    }
    .logoSearch{
        display: block;
    }
    .logoSearch svg{
        color: white;
    }
    .filtres{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    }
    .filtres h2{
        width: 100%;
        font-weight: 600;
    }
    .itemsFiltres{
        margin: 0.5rem;
    }
    .itemsFiltres a{
        padding: 1.9rem;
        font-weight: 900;
    }
    .info{
        margin: 0rem auto;
    }
    .info p{
        font-size: 1.9rem;
        top: -0.4rem;
    }
    section{
        border-radius: 0px;
        width: 100%;
        height: auto;
        border-radius: 0px;
        flex-wrap: wrap;
    }
    .liste_hebergement{
        width: 100%;
        margin: 1rem auto auto auto;
        border-radius: 0px;
        order: 2;
        background-color: white;
    }
    .hebergement{
        width: 80%;
        height: 21.5rem;
    }
    .hebergement img{
        height: 60%;
    }
    .populaires{
        width: 100%;
        margin: auto;
        padding: 0rem 0rem 3rem 0rem;
        border-radius: 0rem;
        background-color: #F2F2F2; 
    }
    .items_populaires{
        width: 80%;
        margin: 1.5rem auto;
    }
    .populaires h2:nth-child(1){
        font-size: 2.2rem;
        font-weight: 700;
        margin-left:3rem;
    }
    .items_populaires  p{
        padding: 1rem 0rem 0rem 49.5%;    
    }
    .div_populaires h3{
        padding: 1rem 0rem 0rem 49.5%;    
    }
    .etoiles_populaires
    {
        padding: 0rem 0rem 0rem 49.5%;    
    }
    .list_activité{
        height: auto;
        margin: 0rem auto;
    }
    .item_activite{
        width: 80%;
        margin: 1rem auto;
    }
    .img1{
        height: 20rem;
    }
    .img1 img{
        height: 80%;
    }
    .img2{
        height: 20rem;
    }
    .img2 img{
        height: 80%;
    }
    .img3{
        height: 20rem;
    }
    .img3 img{
        height: 80%;
    }
    .img4{
        height: 20rem;
    }
    .img4 img{
        height: 80%;
    }
    .img5{
        height: 20rem;
    }
    .img5 img{
        height: 80%;
    }
    .img6{
        height: 20rem;
    }
    .img6 img{
        height: 80%;
    }

    .galerie_activite h2:nth-child(1){
        font-size: 2.2rem;
        font-weight: 800;
    }
    .widthFooter{
        display: flex;
        flex-direction: column;
        padding: 1.5rem;

    } 
}
        /* ***************************** Début mediaQueries 451px --> 900px format Tablette ***************************** */
@media screen and (max-width: 358px)
{
    input{
        width: 15rem;
    }
}
@media screen and (min-width:449px) and (max-width:900px)
{
    .bloc_page{
        padding: 2rem 2rem;
        margin: 0rem;
        width:auto;
    }
    nav{
        margin: 2rem 0rem;
    }
    .list-nav{
        margin: 1rem 0rem;
    }
    .reservia{
        margin: 3rem 0rem;
    }
    .search2{
        margin: 0rem 0rem 0rem 2rem;
    }
    .filtres h2{
        width: 100%;
    }
    .filtres{
        flex-wrap: wrap;
        margin: 1rem ;
    }
    .itemsFiltres{
        margin: 0rem 1rem 1rem 1rem;
    }
    .info{
        margin: 0rem 0rem 0rem 2rem;
    }
    section{
        margin: 2rem auto;
        height: auto;
    }
    section{
        flex-wrap: wrap;
    }
    .liste_hebergement{
        width: 95%;
        margin: 0rem auto;
    }
    .populaires{
        margin: 3rem auto;
        width: 90%;
        background-color: white;
    }
    .items_populaires{
        width:80%
    }
    .galerie_activite
    {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }
    .list_activité{
        height: 96rem;
        width: 100%;
    }
    .item_activite{
        height: 30rem;
        width: 45%;
        margin: 1rem;
    }
    .item_activite img{
        height: 87%;
    }
    
}
        /* ***************************** Début mediaQueries 451px --> 600px format Tablette bis ***************************** */

@media screen and (min-width: 450px) and (max-width:600px)
{
    .hebergement{
        width: 80%;
    }
    .list_activité{
        height: auto;
    }
    .item_activite{
        width: 80%;
        margin: 1.5rem auto;
    }
}
        /* ***************************** Début mediaQueries 901px --> 1299px format laptop 14pouce ***************************** */

@media screen and (min-width: 900px) and (max-width:1089px)
{
    nav{
        width: 100%;
    }
    .reservia{
        width: 100%;
        text-align: center;
    }
    .search2{
        margin: 0rem auto;
    }
    .filtres{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .filtres p{
        text-align: center;
    }
    .info{
        display: flex;
        justify-content: center;
    }
    .info P{
        margin-left: 1rem;   
    }
    .itemsFiltres a{
        padding:0rem 0.4rem;
        line-height: 2.7rem;
    }
    section{
        flex-wrap: wrap;
    }
    .liste_hebergement{
        width: 95%;
        margin: 0rem auto;
    }
    .populaires{
        margin: 3rem auto;
        width: 50%;
        background-color: white;
    }
    .galerie_activite{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .list_activité{
        flex-wrap: wrap;
        height: 67rem;
    }
    .item_activite{
        height: 30rem;
        width: 30%;
    }
    .item_activite img{
        height: 87%;
    }
}
@media screen and (min-width: 1089px) and (max-width: 1150px)
{
    .items_populaires img{
        height: 12.5rem;
    }
}
        /* ***************************** Début mediaQueries 1299px format Tablette pour Section + div_Populaire ***************************** */

@media screen and (max-width: 1299px)
{
    section{
        margin: 3rem 0rem 0rem 0rem
    }
    section span{
        line-height: 7rem;
    }
    .galerie_activite{
        margin: 0rem;
    }
}


   


