        /* Mettre la page à 0 de marge et 0 de padding par defaut/ Inclu aussi les éléments Befort et After */

*, ::before, ::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
        /* Skill pour mettre la police par defaut sur 10px au lieux de 16px */
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.bloc_page{
    margin: 0rem auto;
    margin: 0rem auto;
    width: auto;
        /* Le site ne peut pas faire plus de 1300PX de largeur  */
}
.image_reservia{
    display: inline-block;
    width: 60%;
    height: auto;
    margin: 1rem auto;
    cursor: pointer;
}
        /* Début NAV + Image Reservia */
nav{
    width: 95%;
    height: auto;
    margin: 1rem auto
}
.list-nav{
    display: block;
    float: right;
}
.items{
    display: inline-block;
    margin-top: 0.3rem;
    padding: 1rem;
    cursor: pointer;
}
nav li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
nav li a::before{
    content: "";
    display: block;
    width: 0px;
    position: relative;
    top: -1rem;
    height: 0.2rem;
    border-radius: 2px;
    transition: width 0.2s ease-in;
    background-color: #0065FC;
}
nav li a:hover::before{
    width: 100%;
    top: -1rem;

}
nav li a:hover:not(.not_border){
    border: none;
}
.active{
    color: #0065FC;
    border: none ;
}
.search2{
    display: flex;
    width: 37rem;
    border-radius: 1rem;
    border: rgb(192, 191, 191) 1px solid;
    margin: 1.5rem;
}
.logoLocation{
    width: 3.7rem;
    height: 4.3rem;
    border-radius: 1rem 0rem 0rem 1rem;
    overflow: hidden;
    background-color: rgb(192, 191, 191);
}
.logoLocationImg{
    width: 2.2rem;
    height: 3.5rem;
    position: relative;
    left: 0.7rem;
    top: 0.3rem;
}
.searchButton{
    border-radius: 0rem 1rem 1rem 0rem;
    width: 11rem;
}
.logoSearch{
    height: 2.2rem;
    width: 3.3rem;
    display: none;
}

        /* Début Réservia */
.reservia{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 3rem auto auto auto;
    /* border: steelblue solid 1px; */
}
        /* Début search */
.search{
    display: flex;
    width: 40rem;
    margin: 3rem;
    border: rgb(181, 181, 181) solid 1px;
    border-radius: 1rem;
    overflow: hidden;
}
        /* Début localisation + img localisation */
.localisation{
    background-color: rgb(192, 191, 191);
    padding: 0.8rem;
}
.localisation img{
    position: relative;
    top: 0.3rem; 
    cursor: pointer;
}
        /* Début input + btn recherche */
input{
    height: 4.3rem;
    width: 26rem;
    font-weight: 700;
    color: black;
    font-size: 1.5rem;
    border: none;
}
button{
    background-color: #0065FC;
    color: whitesmoke;
    font-weight: 700;
    width: 100%;
    border: none;
    padding-right: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}
        /* Début Filtres */
.filtres{
    display: flex;
    width: 95%;
    margin: 3rem auto;
    /* border: steelblue solid 1px; */
}
.filtres h2{
    margin-right: 2rem;
    position: relative;
    top: 1rem;
    font-weight: 700;
}
.itemsFiltres{
    width: auto;
    border: rgb(192, 191, 191) 2px solid;
    height: auto;
    border-radius: 5rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    font-weight: 700;
}
.itemsFiltresImages{
    float: left;
    position: relative;
    right: 0.2rem;
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    padding: 1.5rem;
    background-color: #dfeafa;
}
.itemsFiltresImages i{
    color: #0065FC;
}
        /* Alignement du txt */
.itemsFiltres a{
    position: relative;
    text-decoration: none;
    color: black;
    top: 0.9rem;
    padding: 1.5rem;
}
        /* Début Info */
.info{
    width: 95%;
    height: auto;
    font-size: 1.5rem;
    margin: 3rem auto;
}
.info img{
    float: left;
}
.info p{
    margin-left: 4rem;
    position: relative;
    top: 0.9rem;
}
        /* Début Séction Hébergement + Populaires */
section{
    display: flex;
    flex-wrap: wrap;
    border-radius: 2rem;
    width: 95%;
    margin: 3rem auto;
    /* border: blue solid 1px; */
}
        /* Container Hebergement Marseille */
.liste_hebergement{
    width: 89.7rem;
    height: auto;
    margin: 0rem 1rem 0rem 0rem;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;  
    border-radius: 2rem; 
    /* border: blue solid 1px; */
}
.liste_hebergement h2:nth-child(1){
    padding: 2rem;
    font-weight: 800;
}
        /* Bloc Hébergement */
.div_hebergement{
    display: flex;
    flex-wrap: wrap;
}
        /* Itemes Hébergement: Gestion taille des items/blocs contenant les images  */
.hebergement{
    width: 27rem;
    height: 29.5rem;
    margin: 0rem auto 2rem auto;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.75);
    background-color: white;
    flex-shrink: 1;
    /* font-size: 1.5rem; */
}
/* Image Hebergement: Gestion du remplissage de l'image Hébergement */
.hebergement img{
    width: 100%;
    height: 20rem;
    padding: 0.6rem;      
    border-radius: 2rem 2rem 0rem 0rem;  
}
.hebergement p{
    font-size: 1.7rem;
    margin-left: 0.6rem;
    padding: 0rem 0rem 0rem 1.5rem;
}
.hebergement h2{
    margin-left: 0.6rem;
    padding: 0rem 0rem 0rem 1.5rem;
    
}
.etoiles{
    padding: 0rem 0rem 0rem 2rem;
    color: #0065FC;
}
.etoiles .fas_1, .fas_2, .fas_3, .fas_4, .fas_5{
    color: grey;
}
        /* Début les plus Populaire Bloc Populaire */
.populaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 30rem;
    border-radius: 2rem;
    margin: 0rem 0rem 0rem 1rem;
}

        /* Titre Populaire */
.titre_populaire {
    display: flex;
    width: 100%;
}
.titre_populaire i{
    font-size: 2.5rem;
    position: relative;
    top: 2rem;
    left: 9.5rem;

}
        /* Container populaire */
.div_populaires{
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 2rem;
}
        /* Style h2 populaire */
.populaires h2:nth-child(1){
    padding: 2rem;
    font-weight: 800;
}
.div_populaires h3{
    padding: 2rem 0rem 0rem 11rem;

}
.div_populaires p{
    padding: 0rem 0rem 0rem 11rem;

}
        /* Itemes Populaire:Gestion des tailles box color */
.items_populaires{
    font-size: 1.3rem;
    overflow: hidden;
    border-radius: 2rem;
    background-color: white;
    width: 80%;
    margin: 0rem 0rem 10rem 0rem ;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.75);        
    /* border: 1px red solid; */
}
.img_populaire{
    width: 37%;
    padding: 0.3rem;
    height: 13rem;
    float: left;
}
        /* Gestion img populaire */
.img_populaire img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Permet de rogner l'image parfaitement peut importe son oriantation */
    border-radius: 2rem 0rem 0rem 2rem;
}
.etoiles_populaires{
    padding: 0rem 0rem 0rem 11rem;
    color: #0065FC;
}
        /* Début container Activité */
.galerie_activite{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    /* border: khaki 1px solid; */
}
.galerie_activite h2{
    padding: 2rem 0rem 2rem 4.5rem;
}
.list_activité{
    width: auto;
    height: 54rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: red 1px solid; */

}
        /* Bloc image activité: Gestion taille du bloc */
.item_activite{
    width: 30rem;
    margin: 1rem auto ;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 2rem 2rem 2rem 2rem;
    flex-shrink: 0;
    /* border: red 1px solid; */

    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.75);        
}
.item_activite p{
    padding: 1rem;
    font-weight: 800;
    font-size: 1.2rem;
}
        /* Gestion img activité */
.item_activite img{
    width: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 0rem 0rem;
    
}   
        /* Taille Block 1 et */
.img1{
    height: 96%;
    margin: 1rem 1rem ;
}
.img1 img{
    height: 92%;

}
        /* Gestion Taille Bloc 2 */
.img2{
    height: 57.5%;   
    margin: 1rem 1rem;
    
}
        /* Gestion Taille img 2*/
.img2 img{
    height: 84%;
}
.img3{
    height: 35%;
    margin: 1rem 1rem;
}
/* Gestion Taille Bloc 3 */
.img3 img{
    height: 78%;
}
        /* Gestion Taille Block img4 */
.img4{
    height: 96%;
    margin: 1rem 1rem;
}
        /* Gestion Taille img4 */

.img4 img{
    height: 92%;

}
        /* Taille Block img5  */
.img5{
    height: 35%;
    margin: 1rem 1rem;
}
.img5 img{
    height: 78%;
}
.img6{
    height: 57.5%;
    margin: 1rem 1rem;
}
.img6 img{
    height: 86%;
}

        /* Début Footer  */
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3rem auto;
    height: 15rem;
    background-color: rgb(173, 169, 169);
}
footer h2{
    padding: 2rem;
}
footer p{
    padding-top:1rem;
    padding-left: 2rem;
}

        /* Début MEDIAQUERIS */
        
        @media screen and (max-width: 450px)
        { 
            
    nav ul li:nth-child(1){
        width: 50%;
        text-align: center;
        position: absolute;
        top: 6rem;
        left: 0rem;
        border-bottom: #0065FC 2px solid;
    }
    nav ul li:nth-child(2){
        width: 50%;
        text-align: center;
        position: absolute;
        top: 6rem;
        right: 0rem;
        border-bottom: whitesmoke 2px solid;
    }
    nav ul li:nth-child(3){
        position: absolute;
        top: 2.3rem;
        font-weight: 800;
        right: 2.5rem;
    }
    .reservia{
        width: 100%;
    }
    .reservia h1 {
        padding: 2rem 2rem 0rem 1.5rem;
        font-weight: 600;
        font-size: 2.7rem;
    }  
    .reservia p{
        padding: 0.5rem 2rem 0rem 1.5rem;
        font-size: 1.5rem;
    }
    .search{
        width: auto;
        margin: 2rem 2rem auto 2rem ;
    }
    .search button{
        border-radius: 11px;
        width: 12rem;
        display: none;
    }
    .filtres{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    }
    .filtres h2{
        width: 100%;
        padding: 0rem 0rem 2rem 2rem;
        font-weight: 600;
    }
    .itemsFiltres{
        margin: 0.5rem;
    }
    .itemsFiltres a{
        padding: 1.9rem;
        font-weight: 900;
    }
    .info{
        margin: 0rem auto;
    }
    .info p{
        font-size: 1.9rem;
        top: -0.4rem;
    }
    section{
        border-radius: none;
        width: 100%;
        border-radius: 0px;
    }
    .liste_hebergement{
        width: 100%;
        margin: 1rem auto auto auto;
        border-radius: 0px;
        order: 2;
        background-color: white;
    }
    .hebergement{
        width: 80%;
        height: 21.5rem;
    }
    .hebergement img{
        height: 13rem;
    }
    .populaires{
        width: 100%;
        margin: auto;
        padding: 0rem 0rem 3rem 0rem;
        border-radius: 0rem;
        background-color: whitesmoke; 
    }
    .populaires h2:nth-child(1){
        font-size: 2.2rem;
        font-weight: 900;
    }
    .items_populaires:nth-child(3){
        margin:auto auto 0rem auto
    }
    .items_populaires  p{
        padding: 1rem 0rem 0rem 13.5rem;    
    }
    .div_populaires h3{
        padding: 1rem 0rem 0rem 13.5rem;    
    }
    .items_populaires{
        width: 80%;
        margin: 1.5rem auto;
    }
    .etoiles_populaires
    {
        padding: 0rem 0rem 0rem 13.5rem;    
    }
    .list_activité{
        height: auto;
        margin: 0rem auto;
    }
    .item_activite{
        width: 80%;
        margin: 1rem auto;
    }
    .img1{
        height: 20rem;
    }
    .img1 img{
        height: 80%;
    }
    .img2{
        height: 20rem;
    }
    .img2 img{
        height: 80%;
    }
    .img3{
        height: 20rem;
    }
    .img3 img{
        height: 80%;
    }
    .img4{
        height: 20rem;
    }
    .img4 img{
        height: 80%;
    }
    .img5{
        height: 20rem;
    }
    .img5 img{
        height: 80%;
    }
    .img6{
        height: 20rem;
    }
    .img6 img{
        height: 80%;
    }

    .galerie_activite h2:nth-child(1){
        font-size: 2.2rem;
        font-weight: 800;
    }
    footer{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 1.5rem;
    } 
}
 
   


